body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  font-size: 22pt;
}

.useRefHeader::after {
  content: "";
  display: block;
  width: 50px;
  padding-top: 3px;
  border-bottom: 3px solid #f9dd94;
}
.useDebounceHeader::after {
  content: "";
  display: block;
  width: 100px;
  padding-top: 3px;
  border-bottom: 3px solid #f9dd94;
}
.useMemoHeader::after {
  content: "";
  display: block;
  width: 60px;
  padding-top: 3px;
  border-bottom: 3px solid #f9dd94;
}
.useLayoutEffectHeader::after {
  content: "";
  display: block;
  width: 125px;
  padding-top: 3px;
  border-bottom: 3px solid #f9dd94;
}

main {
  height: calc(100vh - 150px);
  width: 100%;
}

section {
z-index: 4;
}

figure {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

.infoBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 25px;
  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: 50px;
  z-index: 4;
  background-color: #dedede;
  border-radius: 50%;
  border: none;
  padding: 10px 8px;
  min-width: fit-content;
  font-size: 12pt;
  font-weight: bold;
  box-shadow: 0px 2px 10px -5px rgba(94, 94, 94, 0.75);
}

.infoBtn:hover {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 10px 12px 10px -5px rgba(94, 94, 94, 0.75);
}

/* .hide {
  display: none;
}

.show {
  display: flex;
} */

.infoCardContainer {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 10px;
  width: auto;
  opacity: 0;
  z-index: 6;
  animation: containerAnimation 1s forwards ; 

}

.infoCardContainer div {
  opacity: 0;
  background-color: #2b2b2b;
  color: white;
  font-size: 14pt;
  padding: 20px 50px;
  border-radius: 30pt;

}

.cardInactive {
  animation: slideUp linear .6s forwards;

}

/* .cardActive {
  animation: slideDown linear .6s forwards;
} */

.card1Active{
  animation: slideDown linear .6s forwards;

}
 .card2Active{
  animation: slideDown linear .6s .1s forwards;


}
 .card3Active{
  animation: slideDown linear .6s .2s forwards;


}
 .card4Active{
  animation: slideDown linear .6s .3s forwards;
 
}

/* .infoCardContainerInactive {
  animation: lowerZIndex linear .6s forwards;

}

.infoCardContainerActive {
  animation: raiseZIndex linear .6s forwards;

} */

@keyframes lowerZIndex {
  0% {
    z-index: 6;
  }
  99% {
    z-index: 6;
  }
  100% {
    z-index: 3;

  }
}

@keyframes raiseZIndex {
  0% {
    z-index: 3;
  }
  99% {
    z-index: 3;
  }
  100% {
    z-index: 6;
  }
}


@keyframes containerAnimation { 
  0% { 
      opacity: 0; 
  } 
  99% { 
      opacity: 0; 
  } 

  100% { 
      opacity: 1; 
  } 
} 


@keyframes slideUp {
  0% {
    transform: translateY(0vh);
    opacity: 1;

  }
  100% {
    transform: translateY(-2vh);
    opacity: 0;

  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-2vh);
    opacity: 0;
    z-index: 3;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
    z-index: 6;
  }
}

@media (max-width: 900px) {
  main {
    height: auto;
  }
  .searchInput {
    margin-top: 60px;
  }
  .infoCardContainer {
    bottom: 15vh;
  }
}
