body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
  height: calc(100vh - 150px);
  width: 100%;
}



@media (max-width: 900px) {
  main {
    height: auto;
  }
  .searchInput {
    margin-top: 30px ;
  }
}
