#dropdownContainer {
  width: 70px;
  height: 70px;
  background-color: #4b4b4b;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

#dropdownContainer:hover {
  background-color: #6b6b6b;
}

#lineContainer {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 5px;
  background-color: #d3d3d3;
}

#dropdownMenuContainer {
  position: absolute;
  top: 70px;
  right: 0;
  width: 30vw;
  min-width: 200px;
  height: 40vh;
  background-color: #2b2b2b;
  display: none;
}

#dropdownMenuContainer {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#dropdownContainer:hover #dropdownMenuContainer {
  display: flex;
}

.dropdownItem {
  color: #d3d3d3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.dropdownItem:hover {
  background-color: #6b6b6b;
}
