.useDebounceModuleMain {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;}

.useDebounceModuleFigure {
  overflow-y: auto;
}

.filteredUsersDiv {
  height: 40vh;
  overflow-y: scroll;
  width: 170px;
}

@media (max-width: 900px) {
  .useDebounceModuleMain {
    flex-direction: column;
  }
}
