.useLayoutModuleMain {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .useLayoutModuleMain {
    margin-top: 35px;
    flex-direction: column;
  }
}
