.centeredSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centeredSection input {
    margin-bottom: 50px;
}

.useRefModuleSection {
    margin-left: 50px;
}

.infoBtn {
  /* position: absolute  ; */
  width: 500px;
  height: 500px;
  z-index: 99;
  background-color: black;
}

@media (max-width: 900px) {
    .useRefModuleMain {
flex-direction: column;
    }
    .useRefModuleSection {
        margin-left: 0px;
        margin-top: 60px;
    }
  }

